body{
	background-color: whitesmoke;
}

.container{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 4%;

}

.container img{
	max-width: 90%;
	margin: 2px;
}

.titulo1{
	color: #ef66b9;
	font-weight: lighter;
	font-size: 60px;
}

/* Input Icono Search*/
input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

/* A-Z */
.cajitaAZ{
	background-color: #7aa44a;
	width: 7%;
	height: 5%;
	margin-left: 40%;
	margin-top: 1%;
}

.aZ{
	text-decoration: none;
	color: whitesmoke;
}

/* Fotos Pokes */

#pokeSecFotos{
	margin: 2%;
	margin-left: 5%;

}

footer{
	color: #b685c6;
}